@model App.Models.ViewModels.FacturaViewModel
@{
    ViewBag.Title = "Nuevo";
}

<h2>GuardarFactura</h2>

@using (Html.BeginForm("Nuevo", "Compras", FormMethod.Post)){
    <div class="row">
        <div class="col-md-12">
            <div>
                @Html.LabelFor(x => x.Total)
                @Html.TextBoxFor(x => x.Total, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Total, null, new { @class = "text-danger" })
            </div>
            <div>
                @Html.LabelFor(x => x.FechaCompra)
                @Html.EditorFor(x => x.FechaCompra, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.FechaCompra, null, new { @class="text-danger" })
            </div>
                <br />
            <div>
                <input type="submit"  value="Guardar" class="btn btn-primary" />
            </div>

        </div>
    </div>
}

